* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: roboto, sans-serif;
}

.header,
.top-body
.middle-body,
.middle-body-quote,
.bottom-body {
    padding: 1em 15%;
}

.header {
    display: flex;
    align-items: center;
    background: #1f2937;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.header a {
    font-size: 12px;
    color: #e5e7eb;
    text-decoration: none;
}

#header-logo {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 700;
    margin-right: auto;
}

.top-body {
    background: #1f2937;
    display: flex;
    padding: 3em 15%;
}

.top-body .title {
    color: #f9faf8;
    font-size: 36px;
}

.top-body .subtext,
.bottom-body {
    color: #e5e7eb;
    font-size: 12px;
}

.top-body .left-side {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    margin-right: 2em;
}

.top-body button {
    padding: 1em 3em;
    background-color: #3882f6;
    border-radius: 6px;
    color: #e5e7eb;
    width: 150px;
}

.top-body .right-side {
    background: #6D747D;
    color: #e5e7eb;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.middle-body {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.middle-body .content {
    display: flex;
    gap: 2em;
    margin-bottom: 3em;
}

.middle-body .title {
    margin-top: 1em;
    margin-bottom: 1em;
}

.middle-body .illustration-caption {
    font-size: 12px;
    width: 100px;
}

.middle-body .illustration-caption .box {
    border: solid;
    border-color: #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.middle-body-quote {
    background: #6D747D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 20%;
}

.middle-body-quote .quote {
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
}

.middle-body-quote .author {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
}

.bottom-body {
    padding: 4em 15%;
}

.bottom-body .call-to-action-box {
    background: #3882f6;
    display: flex;
    padding: 2em 6em;
    border-radius: 6px;
}

.bottom-body .header {
    background: #3882f6;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
}

.bottom-body button {
    margin-left: auto;
    border-radius: 6px;
}

.bottom-body button {
    border: 2px solid #e5e7eb;
    padding: 0.5em 1.5em;
    background: #3882f6;
    color: #e5e7eb;
}

.footer {
    background: #1f2937;
    color: #e5e7eb;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}